<!-- Inspired by https://iamsorush.com/posts/table-of-content-blog/ -->
<div class="article-nav" id="article-nav-id">
    <div class="post">
        {{ partial "post_header.html" . }}

        <!-- The TOC will be static on mobile decides -->
        {{ if and (gt .WordCount 400 ) (eq .Site.Params.toc "both") }}
        <aside class="toc" id="static-toc">
            <header>
                <h3>Contents</h3>
            </header>
            {{.TableOfContents}}
        </aside>
        {{ else }}
        <aside class="show-on-mobile toc" id="static-toc">
            <header>
                <h3>Contents</h3>
            </header>
            {{.TableOfContents}}
        </aside>
        {{ end }}

        {{ .Content }}

    </div>
    <nav class="hide-on-mobile section-nav">
        {{ .TableOfContents }}
    </nav>
</div>
<div class="post">
    {{ partial "article_footer.html" . }}
</div>
