<script>
    window.addEventListener('DOMContentLoaded', () => {
        const observerForTableOfContentActiveState = new IntersectionObserver(entries => {
            entries.reverse().forEach(entry => {
                const id = entry.target.getAttribute('id');
                if (entry.intersectionRatio > 0) {
                    clearActiveStatesInTableOfContents();
                    initState = true;
                    var selected = document.querySelectorAll(`nav li a[href="#${id}"]`)
                    if (selected != null) {
                        selected.forEach(s => {
                            if (s != null) {
                                s.parentElement.classList.add('active');
                            }
                        }
                        )
                    }

                }
            });
        });
        document.querySelectorAll('h1[id],h2[id],h3[id],h4[id]').forEach((section) => {
            observerForTableOfContentActiveState.observe(section);
        });

    });

    function clearActiveStatesInTableOfContents() {
        document.querySelectorAll('nav li').forEach((section) => {
            section.classList.remove('active');
        });
    }
</script>
